.card-sub {
  margin: 10px;
  height: 51vh;
  background-color: #964cfd;
}

mat-card-footer {
  display: flex;
  margin: 28px 0px 0px 0px;
  justify-content: flex-end;
}

mat-card-subtitle {
  margin-left: 4px;
  margin-top: 10px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #00ff7e;
  font-weight: 600;
  font-size: 20px;
}

mat-divider{
  border-top-color: #bbbbbb;
  margin-left: 150px !important;
  margin-right: 150px!important ;
  margin-bottom: 20px !important;
  margin-top: 20px !important;
  display: block;
  margin: 12px;
  border-top-width: 2px;
  border-top-style: solid;
}
.sub-title-icon {
  color: #ffd402;
  font-size: 35px;
  vertical-align: sub;
}

/* .title-icon {
  color: #ffd402;
  /* font-size: 35px;
  vertical-align: bottom;
  margin-bottom: 5px; 
} */

.card-task{
  margin-left: 10px;
  margin-right: 10px;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

}

.card-task-div{
  display: flex;flex-direction: column;
  position: relative; bottom: 25%;
}

.img-card{
  width: 73px;
  margin-top: 2px;
}

.h2-icon{
  margin-left: 14px; top: 100%;
  position: absolute;
}

.mat-card-header .mat-card-title {
  margin-bottom: 20px;
  font-size: 32.7px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0%;
}

.Home-img {
  width: 100vw;

}

.sub-divider {
  display: flex;
  justify-content: center;
}

.h1-sub-divider{
  font-weight: 500;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 50px;
  height: 50px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(253, 253, 253);
  border-color: #00ff7e transparent #00ff7e transparent;
  animation: lds-dual-ring 1.4s linear infinite;
  position: relative;
  right: 8%;
  bottom: 5%;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 1100px) {
    .Home-img {
        width: 23vw;
        position: relative;
        top: 36%;
      }
  }

  @media only screen and (min-width: 1500px) {
    .Home-img {
        width: 30vw;
        position: relative;
        top: 36%;
      }
  }